$font-body: "Source Sans Pro";

body {
  font-family: $font-body;
  background-color: #eee;

  #main {
    margin-top: 1rem;

    header {
      background-image: url('/img/emotionheader.jpg');
      background-size: 100%;
      background-repeat: no-repeat;
      min-height: 210px;

      h1 {
        color: white;
        font-size: 3em;
      }
    }

    #main-nav {
      background-color: #f7f7f9;
      padding: 1em;
      margin-bottom: 0.5em;
    }

    .content {
      background-color: white;
      min-height: 500px;

      .card {
        min-height: 150px;
        margin-bottom: .5rem;

        .card-body {
          margin: .5rem;

          .card-text {
            min-height: 80px;
          }
        }

        .card-img-top {
          background-size: 100%;
          background-repeat: no-repeat;
          height: 180px;
        }
      }

      td {
        text-align: left;
      }

    }

    #ministers {

      img {
        height: 157px;
        width: 157px;

      }
    }

    #elders,#deacons {

      img {
        width: 157px;
        height: 157px;
      }

      .card {
        background-color: #f7f7f9;
        max-width: 158px;
      }
    }

    .recording {
      background-color: #eeeeee;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
      border: 2px solid;
      border-color: gray;
    }

    p.addr {
      margin: 0px;
    }

    #info {
      th {
        font-weight: bold;
      }
      td {
        text-align: right;
        padding: 3px;
      }
    }
  }
}
